[Desktop Entry]
Version=1.0
Type=Application
Name=Steam
Comment=Launch Steam
Exec=/usr/games/steam
Icon=steam
Terminal=false
Categories=Game;
StartupNotify=true
