:root {
  --cc-bg: #1f1f25;
  --noti-border-color: rgba(70, 70, 79, 1);
  --noti-bg: 31,31,37;
  --noti-bg-alpha: 0.95;
  --noti-bg-darker: #1b1b21;
  --noti-bg-hover: #2a292f;
  --noti-bg-focus: rgba(53, 52, 58, 1);
  --noti-close-bg: #2a292f;
  --noti-close-bg-hover: #35343a;
  --text-color: #e4e1e9;
  --text-color-disabled: #c7c5d0;
  --bg-selected: #c0c1ff;
  --notification-icon-size: 64px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 32px;
  --mpris-album-art-overlay: rgba(0, 0, 0, 1);
  --mpris-button-hover: rgba(192, 193, 255, 1);
  --mpris-album-art-icon-size: 96px;
  --widget-volume-row-icon-size: 24px;
}
